<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Details</title>
</head>
<body>
    <div>
        <h2>{{.Response.Poll.Title}}</h2>
        <p>Created At: {{.CreatedAt}}</p>
        <p>Updated At: {{.UpdatedAt}}</p>
        <h3>Options</h3>
        <ul>
            {{range .Response.PollOptions}}
            <li>{{.Title}} - Score: {{.Score}}</li>
            {{end}}
        </ul>
    </div>
</body>
</html>
